@import url(_reset.css);
@import url(_variaveis.css);

body {
  font-family: 'Overpass', sans-serif;
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
}

.cabecalho__item--ativo::before {
  content: "";

  width: 100%;
  height: .25rem;

  background-color: var(--laranja);

  position: absolute;
  bottom: -.5rem;

  border-radius: .625rem;

}